<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Catálogo de produtos</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">BL Auto Peças</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Produtos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clientes">Clientes</a>
      </li>
    </ul>
    <form id="busca" action="/search" method="POST" class="form-inline my-2 my-lg-0">
      <input name="busca" class="form-control mr-sm-2" type="search" placeholder="Pesquise pelo Produto" aria-label="Search">
      <button id="busca" class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
  <div class="container-fluid">
    <h2>Lista de Clientes</h2>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Adicionar novo clientes</button>
    <table class="table table-sm table-striped table-hover" id="mytable">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Bairro</th>
          <th>Cidade</th>
          <th>UF</th>
          <th>CPF/CNPJ</th>
          <th>Telefone</th>
          <th width="12%">Ações</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ idCliente }}</td>
          <td>{{ nome }}</td>
          <td>{{ endereco }} </td>
          <td>{{ bairro }}</td>
          <th>{{ cidade }}</th>
          <th>{{ uf }}</th>
          <td>{{ cpf_cnpj }}</td>
          <td>{{ telefone }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id="{{ idCliente }}" data-product_nome="{{ nome }}" data-product_endereco="{{ endereco }}" data-product_bairro="{{ bairro }}" data-product_cidade="{{ cidade }}" data-product_uf="{{ uf }}" data-product_cpf_cnpj="{{ cpf_cnpj }}" data-product_telefone="{{ telefone }}">Editar</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ idCliente }}">Excluir</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	<!-- Add New Product Modal-->
	  <form action="/cliente/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Adicionar novo Cliente</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="product_nome" class="form-control product_nome" placeholder="Nome" required>
              </div>
              <div class="form-group">
                  <input type="text" name="product_endereco" class="form-control product_endereco" placeholder="Endereço">
              </div>
              <div class="form-group">
                  <input type="text" name="product_bairro" class="form-control product_bairro" placeholder="Bairro">
              </div>
              <div class="form-group">
                  <input type="text" name="product_cidade" class="form-control product_cidade" placeholder="Cidade">
              </div>
              <div class="form-group">
                  <input type="text" name="product_uf" class="form-control product_uf" placeholder="UF">
              </div>
              <div class="form-group">
                  <input onfocus="javascript: retirarFormatacao(this);" onblur="javascript: formatarCampo(this);" maxlength="14" type="text" name="product_cpf_cnpj" class="form-control product_cpf_cnpj" placeholder="CPF ou CNPJ">
              </div>
              <div class="form-group">
                  <input type="tel" name="product_telefone" class="form-control product_telefone" placeholder="Telefone">
              </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               <button type="submit" class="btn btn-primary">Salvar</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Edit Product Modal-->
   <form action="/cliente/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="product_nome" class="form-control product_nome" placeholder="Nome" required>
              </div>
              <div class="form-group">
                  <input type="text" name="product_endereco" class="form-control product_endereco" placeholder="Endereço">
              </div>
              <div class="form-group">
                  <input type="text" name="product_bairro" class="form-control product_bairro" placeholder="Bairro">
              </div>
              <div class="form-group">
                  <input type="text" name="product_cidade" class="form-control product_cidade" placeholder="Cidade">
              </div>
              <div class="form-group">
                  <input type="text" name="product_uf" class="form-control product_uf" placeholder="UF">
              </div>
              <div class="form-group">
                  <input onfocus="javascript: retirarFormatacao(this);" onblur="javascript: formatarCampo(this);" maxlength="14" type="text" name="product_cpf_cnpj" class="form-control product_cpf_cnpj" placeholder="CPF ou CNPJ">
              </div>
              <div class="form-group">
                  <input type="tel" name="product_telefone" class="form-control product_telefone" placeholder="Telefone">
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="product_id">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
          </div>
        </div>
       </div>
  </form>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/cliente/delete" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Deletar Produto</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Tem certeza que quer remover o produto?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="product_id" class="form-control product_id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
 	                  	<button type="submit" class="btn btn-success">Excluir</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script>
  function formatarCampo(campoTexto) {
    if (campoTexto.value.length <= 11) {
        campoTexto.value = mascaraCpf(campoTexto.value);
    } else {
        campoTexto.value = mascaraCnpj(campoTexto.value);
    }
}
function retirarFormatacao(campoTexto) {
    campoTexto.value = campoTexto.value.replace(/(\.|\/|\-)/g,"");
}
function mascaraCpf(valor) {
    return valor.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/g,"\$1.\$2.\$3\-\$4");
}
function mascaraCnpj(valor) {
    return valor.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g,"\$1.\$2.\$3\/\$4\-\$5");
}
</script>


<script>
    $(document).ready(function(){
		//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var product_id = $(this).data('id');
        var product_nome = $(this).data('product_nome');
        var product_endereco = $(this).data('product_endereco');
        var product_bairro = $(this).data('product_bairro');
        var product_cidade = $(this).data('product_cidade');
        var product_uf = $(this).data('product_uf');
        var product_cpf_cnpj = $(this).data('product_cpf_cnpj');
        var product_telefone = $(this).data('product_telefone');
        $('#EditModal').modal('show');
        $('.product_nome').val(product_nome);
        $('.product_endereco').val(product_endereco);
        $('.product_bairro').val(product_bairro);
        $('.product_cidade').val(product_cidade);
        $('.product_uf').val(product_uf);
        $('.product_cpf_cnpj').val(product_cpf_cnpj);
        $('.product_telefone').val(product_telefone);
        $('.product_id').val(product_id);
      });
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var product_id = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.product_id2').val(product_id);
      });
    });
</script>
</body>
</html>
